<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="scb" class="com.kk.bean.SimpleLifeCycleBean" init-method="initialMethod" destroy-method="destoryMethod">
        <property name="name" value="scb"/>
    </bean>

    <bean id="pp" class="com.kk.bean.PostProcessor"></bean>
</beans>