<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="book" class="com.kk.java.Book">
        <property name="bName" value="岛上书店"/>
        <property name="bAuthor" value="东野圭吾"/>
    </bean>

    <bean id="order" class="com.kk.java.Order">
        <constructor-arg name="oName" value="电脑"></constructor-arg>
        <constructor-arg name="oAddress" value="中国"></constructor-arg>
    </bean>

    <bean id="city" class="com.kk.java.City">
        <property name="cName" value="&lt;上海&gt;"/>
        <property name="cCode">
            <value><![CDATA[<<200093>>]]></value>
        </property>
        <property name="cDescription">
            <null />
        </property>
    </bean>
</beans>