<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cityService" class="com.kk.service.CityService">
        <!--注入外部bean-->
        <property name="cityDao" ref="cityDaoImpl" />
    </bean>

    <bean id="cityDaoImpl" class="com.kk.dao.CityDao"></bean>
</beans>